* {
     margin: 0;
     padding: 0;
}
.grid-container>div{
     font-size:28px;
     background-color:#870bec;
     
}

.grid-container{
     display: grid;
     grid-template-columns:repeat( 10,1fr);
     
}



.navbar {
     grid-column: 1/11;
     padding:85px;
    
    

     
}


#logo {
     border: 10px solid #09ffad;
     border-radius: 10px;
     background-color:  #6410ec;
     width:75%;
     margin-left: 1.5%;
     margin-top: 1%;
     border-spacing: 2cap;
     font-family: 'Montserrat', sans-serif;
     padding: 10px 0px 10px 3%;
     font-size: 4.5rem;
     color:white;
}
     
#menu {
     display: none;
}     


li :hover {
     color:rgb(2, 255, 116);
     background-color:#11f30983;
     transition: transform 0.4s ease, 
     background-color 0.4s ease;
     padding: 30px;
     border-radius: 20px ;
     font-size: 34px;
} 
li {
     margin-top: 30px;
     margin-left:  25px;
     padding-block:49px;
     list-style: none;
         
}



a{
   
     font-family: 'cardo', bold;
     font-size: 2rem;
     color: white;
     background-color: #1859d1;
     padding: 25px;
     border-radius: 15px;
     text-decoration: none;
     padding-block:30px;
     margin-block: 2px;
   


} 


.image-section img{
     position: absolute;
     bottom:310px;
     margin-left: 57%;
     width: 435px;
     height: 435px;
     border-radius: 60%;
     padding: 145px;

}


.text-section{
     grid-column:1/11;
    
    ul {
     display:flex;
     
    }

li :hover {
     color:rgb(204, 240, 3);
     background-color:#3409f3b7;
     transition: transform 0.4s ease, 
     background-color 0.4s ease;
     padding: 5px;
     border-radius: 20px ;
     font-size: 33px;
     
} 

a{
     background-color: #224993ad;
     padding:2px;
     margin-left: 50px;
    
}



h1{
      position:absolute;
     top: 225px;
     width: 55%;
     padding:15px;
     background-color:transparent;
     color:rgb(17, 16, 16);
     text-align: center;
     font-family:'cardo',bold;
     font-size: 2.8rem;
     font-weight: bold;
     z-index: 10; 

}
li:nth-child(2){  
     position:absolute;
     top: 270px;
     width: 80%;
     padding:15px;
     background-color:transparent;
     color:rgb(17, 16, 16);
     text-align: center;
     font-family:'cardo',bold;
     font-size: 1.8rem;
     
   
    
}
 li:nth-child(3){  
     position:absolute;
     top: 315px;
     width: 60%;
     padding:15px;
     background-color:transparent;
     color:rgb(17, 16, 16);
     text-align: center;
     font-family:'cardo',bold;
     font-size: 1.8rem;
     z-index: 10; 
    
 }
  li:nth-child(4){  
     position:absolute;
     top: 355px;
     width: 75%;
     padding:15px;
     background-color:transparent;
     color:rgb(17, 16, 16);
     text-align: center;
     font-family:'cardo',bold;
     font-size: 1.8rem;
     z-index: 10; 
    
 }
 li:nth-child(5){  
     position:absolute;
     top: 415px;
     width: 65.5%;
     padding:15px;
     background-color:transparent;
     color:rgb(17, 16, 16);
     text-align: center;
     font-family:'cardo',bold;
     font-size: 1.8rem;
     z-index: 10; 
    
 }
}



 
.footer {  
     grid-column: 1/11;
     margin-top: 0px;
     height: 17.4vh;

}
.border{
     margin-top: 25px;
     border: 8px solid  #09ffad;
     background-color: #6410ec;
     padding: 25px;
     width: 96.5%;


}
