* {
     margin: 0;
     padding: 0;
}
.grid-container>div{
     font-size:28px;
     background-color:#230347;
     
}

.grid-container{
     display: grid;
     grid-template-columns:repeat( 10,1fr);
     
}



.navbar {
     grid-column: 1/11;
     padding:85px;
    
    

     
}


#logo {
     border: 10px solid #09b1ff;
     border-radius: 10px;
     background-color:  #613d8b;
     width:60%;
     margin-left: 1.5%;
     margin-top: 1%;
     border-spacing: 2cap;
     font-family: 'Inter', sans-serif;
     margin-right: 2%;
     padding: 10px 0px 10px 12%;
     font-size: 4.5rem;
     color:white;
}
     
#menu {
     display: none;
}     





li :hover {
     color:rgb(2, 255, 116);
     background-color:#11f30983;
     transition: transform 0.4s ease, 
     background-color 0.4s ease;
     padding: 30px;
     border-radius: 20px ;
     font-size: 34px;
} 
     

li {
     margin-top: 30px;
     margin-left:  25px;
     padding-block:49px;
     list-style: none;
         
}



a{
   
     font-family: 'cardo', bold;
     font-size: 2rem;
     color: white;
     background-color: #1859d1;
     padding: 25px;
     border-radius: 15px;
     text-decoration: none;
     padding-block:30px;
     margin-block: 2px;
   
   
} 


.image-section img{
     position: absolute;
     bottom:310px;
     margin-left: 57%;
     width: 435px;
     height: 435px;
     border-radius: 60%;
     padding: 145px;

}


.text-section li {
     position:absolute;
     top: 290px;
     width: 50%;
     display:flex;
     align-items:flex-start;
     justify-content:center;
     padding:15px;
     background-color:transparent;
     color:white;
     text-align: center;
     font-family:'cardo',bold;
     font-size: 40px;
     z-index: 10; 
    
}


p{  
     background-color: whitesmoke;
     color: black;
     padding: 20px;
     border-bottom-left-radius: 80px ;
     border-top-right-radius: 80px ;
     margin-top:90px;
     margin-left: 13.7%;
     width: 470px;   
     position: absolute;
     top:295px;
     display:center;  
     justify-content:center;
     border-style:outset ;
   
    
     
}

    
    
.footer {  
     grid-column: 1/11;
     margin-top: 0px;
     height: 17.4vh;

}
.border{
   margin-top: 25px;
     border: 8px solid  #09B5FF;
     background-color: #613d8b;
     padding: 25px;
     width: 96.5%;


}
